

<!-- Image and text -->
<div class="container">

</div>
<nav class="navbar   menu_top">
  <a class="navbar-brand"  href="{{url_for('showRestaurants')}}">
    <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">

	Show All Restairants
  </a>

<div class='login'>

	<a class="navbar-brand"  class='Login' href="http://localhost:5000/login">Login</a>
	<a class="navbar-brand"  class='Logout' href="http://localhost:5000/logout">Logout</a>

</div>
</nav>

</div>
