{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div class="container restaurant_list">
	<div class="row">
		<div class="col-md-12">


			{% for restaurant in restaurants %}


						<div class="card>
						  <img src="..." class="card-img-top" alt="...">
						  <div class="card-body">
						    <h5 class="card-title">{{restaurant.name}}</h5>

								<a href="{{url_for('restaurantMenu', restaurant_id = restaurant.id)}}">Go Restaurant</a>


						  </div>
						</div>


<hr>

					{% endfor %}
					{% endblock %}


		</div>

	</div>
